/* *{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
} */
.logo p{
font-size: 10px;
}

.navbar .nav-item .nav-link.active {
    padding: 3px 25px;
    border: 2px solid #009ad8;
    border-radius: 30px;
    color: #009ad8;
    font-size: 14px;
}
.navbar .nav-item .nav-link {
    padding: 3px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.nav-item .nav-link:hover {
    

    border: 2px solid #009ad8;
    border-radius: 30px;
    color: #009ad8;
    
 }
 .img{
    background-image: url('../imgs/banner.png');
    /* height: 70vh; */
    background-repeat: no-repeat;
padding-top: 30px;
padding-bottom: 50px;
 }
 .form{
    position: relative;
margin-top: 50px;

 }
 .form input{
     background-color: #1E202B;
     border: none;
     outline: none;
     border-radius: 30px ;
     -webkit-border-radius: 30px ;
     -moz-border-radius: 30px ;
     -ms-border-radius: 30px ;
     -o-border-radius: 30px ;
     padding: 15px 15px;
 
     color: white;
}
.form button{
    border: none;
    padding: 1px 40px !important;

    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #009ad8;
    color: white;
    position: absolute;
    top: 5px;
    right: 18px;
    bottom: 5px;

}
footer{
    background-color: #262936;
    padding: 50px;
}
footer p{
    color: #BFC1C8;
    margin-top: 20px;
}
.row input{
    background-color: #1E202B;
    border: none;
    outline: none;
    border-radius: 30px ;
    -webkit-border-radius: 30px ;
    -moz-border-radius: 30px ;
    -ms-border-radius: 30px ;
    -o-border-radius: 30px ;
    padding: 15px 15px;
    color: white;
}
.row button{
    border: none;
    padding: 1px 20px !important;

    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #009ad8;
    color: white;
    position: absolute;
    top: 5px;
    right: 18px;
    bottom: 5px;
}

.row .right a{
    text-decoration: none;
    color: #009ad8;
    height: 40px;
    width: 40px;
    background-color: #1E202B;
    border-radius: 50px;
}
.row .right ul{
    list-style: none;
}
.row .right .icon li a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}
.row .right .icon li:hover a{
    background-color: #009ad8;
    color: white;
}
.weather .row span {
    margin-right: 20px;

   
}
.weather .row .icons {
 padding-top: 50px;
margin-top: 50px;
   
  
}

.weather .row .h-40{
    height: 350px;

}
.rounded-top-start{
    border-top-left-radius:10px ;
background-color: #2D303D;
padding: 10px;

}
.content-center{
    background-color: #222531;
    padding: 10px;
}
.bg-1{
    background-color: #323544;
    color: #BFC1C8;
}
.bg-2{
    background-color: #262936;
    color: #BFC1C8;
}
#minTembDayOne{
    color: #BFC1C8;
}
#minTembDaytwo{
    color: #BFC1C8;
}